@page "/development/tabledemo"
@inherits ProCompontentBase
@inject MasaBlazor MasaBlazor
@inject GlobalConfig GlobalConfig;
@inject NavHelper NavHelper;
@implements IDisposable

<h1>TableDemo</h1>
<h2>TableDemo</h2>
<h3>TableDemo</h3>

@code {

}
